* {
    margin: 0px;
	padding: 0px;
	list-style: none;
}
body {
    background-image: url('./imgs/bg.jpg');
    background-repeat: no-repeat, repeat;
    background-size: cover;
    opacity: .7;
}
.bg {
    background-color: gray;
    position: relative;
    width: 100%;
    height: 100%;
}
.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.container ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.container ul li {
    display: inline-block;
    border-radius: 30px;
    width: 120px;
    height: 120px;
    margin: 0 50px;
}
@media only screen and (max-width: 500px)
{
    .container ul li{
        margin: 50px 0;
        display: block;
    }
}